<!DOCTYPE html>
<html ng-app="RepsApp">
  <head>
    <meta charset="utf-8">
    <title>Find your representative</title>
    <!-- TODO You need to put your style imports here -->
    <link rel="stylesheet" href="\bower_components\bootstrap\dist\css\bootstrap.min.css" >
  </head>
  <body>

    <!-- Display search criteria -->
    <div ng-controller="RepsController as reps">
      <!-- ZIP -->
      <label>
        Search By Zip
        <input ng-model="reps.search.zip" />
        <button type="button" ng-click="reps.searchByZip(reps.search.zip)">Search</button> <!-- On click, run our function passing it the input that was declared above -->
      </label>
      <!-- NAME -->
      <label>
        Search By Name
        <input ng-model="reps.search.name" />
        <button type="button" ng-click="reps.searchByName(reps.search.name)">Search</button> <!-- On click, run our function passing it the input that was declared above -->
      </label>
      <!-- STATE -->
      <label>
        Search By State
        <input ng-model="reps.search.state" />
        <button type="button" ng-click="reps.searchByState(reps.search.state)">Search</button> <!-- On click, run our function passing it the input that was declared above -->
      </label>
      
      <!-- This is going to be the display the list of congress members -->
      <ul>
        <li ng-repeat="member in reps.members"><!-- Loop through our members objects and display the name -->
          <span>Name: {{member.name}}</span>
          <span>State: {{member.state}}</span>
        </li>
      </ul>

    </div>

    <!-- TODO You need to put your script tags here -->
    <script src="\bower_components\angular\angular.min.js"></script>
    <script src="\js\app.js"></script>
  </body>
</html>
