<!DOCTYPE html>
<html ng-app="RepsApp">
  <head>
    <meta charset="utf-8">
    <title>Find your representative</title>
    <!-- TODO You need to put your style imports here -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" >
    <style>
      body
      {
        padding-top: 70px;
      }
    </style>
  </head>
  <body>
    <!-- Begin nav -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Search By Representative</a>
          <a class="navbar-brand" href="/">Search By Senator</a>
        </div>
      </div>
    </nav>

    <div ng-controller="MainCtrl as main" class="container">

      <h2>Search for:</h2>

      <div class="radio">
        <label>
          <input type="radio" ng-model="main.congressType" value="reps">
          Representative
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" ng-model="main.congressType" value="sens">
          Senator
        </label>
      </div>

      <h2>Search by:</h2>

      <select class="form-control">
        <option>Zip</option>
        <option>Last name</option>
        <option>State</option>
      </select>

      {{main.congressType}}

      <!-- Display search criteria -->
        <h1>Find your representative!</h1>
        <form ng-submit="main.searchByZip(main.inputs.zip)" class="form-inline">

          <div class="form-group">
            <label for="zipcode">Zip Code:</label>
            <input id="zipcode" class="form-control" type="string" ng-model="main.inputs.zip" />
          </div>

          <button type="submit" class="btn btn-info">Submit</button>

        </form>

        <form ng-submit="main.searchRepsByName(main.inputs.repsLastName)" class="form-inline">

          <div class="form-group">
            <label for="rep-ast-name">Representative's Last Name:</label>
            <input id="rep-ast-name" class="form-control" type="string" ng-model="main.inputs.repsLastName" />
          </div>

          <button type="submit" class="btn btn-info">Submit</button>

        </form>

        <!-- Display Reps -->
        <ul class="list-group">
          <li href="#" class="list-group-item" ng-repeat="rep in main.reps">
            <h4 class="list-group-item-heading">{{rep.name}}</h4>
            <p class="list-group-item-text">{{rep.state}}</p>
          </li>
        </ul>
    </div>

    <!-- TODO You need to put your script tags here -->
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
